.notFound {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notFound h1 {
  font-size: 130px;
}
.notFound p {
  font-size: 50px;
}
